Checks: >
    bugprone-*,
    cppcoreguidelines-*,
    google-*,
    performance-*,
    modernize-*,
    -google-runtime-references*,
    -modernize-use-trailing-return-type,

CheckOptions:
    - key:             cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
      value:           1

WarningsAsErrors: "*"